<label class="block">
  <span class="text-gray-700">{{ label }}</span>
  <input 
    type="{{ type }}"
    name="{{ name }}" 
    @if(type === 'range')
      min="{{ min }}"
      max="{{ max }}"
    @end
    class="
      mt-1
      block
      w-full
      rounded-md
      border-gray-300
      @if(type !== 'range')
        shadow-sm
        focus:border-indigo-300
        focus:ring
        focus:ring-indigo-200
        focus:ring-opacity-50
      @end
    "
  >
</label>