<label class="block">
  <span class="text-gray-700">{{ label }}</span>
  <select 
    name="{{ name }}"
    class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    @if(multiple)
      multiple
    @end
    >
    @each(option in options)
      <option value="{{ option.id }}">{{ option.value }}</option>
    @end
  </select>
</label>