<!doctype html>
<html>

<head>
  <title>Spider - {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @entryPointStyles('app')
</head>

<body class="mt-14">

  @include('admin/partials/header')

  <main>

    <div class="flex flex-col md:flex-row">

      <section class="container mx-auto pt-5">
        @!section('body')
      </section>

    </div>

  </main>

</body>

</html>